<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Home<h1>
    <button><a href="/removepunc"> Remove punctuations</a></button><br>
    <button><a href="/capitalize"> Capitalize</a></button><br>
    <button><a href="/newlineremove"> New line remove</a></button><br>
    <button><a href="/spaceremove"> Remove space</a></button><br>
    <button><a href="/charcount"> Character count</a></button><br>
    <!-- <button><a href="/analyze"> Template tester</a></button> -->
</body>
</html>
